.yellow .x-badge {
   background-color: #ffff00 !important;
    background-image:-webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0%, #FFFF00),
      color-stop(50%, #E5E500),
      color-stop(51%, #E5E500),
      color-stop(100%, #FFFF19)) !important;
   color:#000;
   width:30px;
   height:30px;
   font-size:10px;
}
.x-html {
    -webkit-user-select: auto;
    -webkit-touch-callout: inherit;
    line-height: 1.5;
    color: #333;
    font-size: .8em;
    padding: 0;
}
.x-button-normal
{
    background-color:Transparent!important;
	border:0px none!important;
}

.buttoncontainer
{
    height:355px;
    text-align:center !important;
    -webkit-box-align: center;
     -webkit-transform: translate3d(0px, 0px, 0px);
    /* Remove margin */
}
.buttoncontainer_listings
{
    height:355px;
    text-align:center !important;
    margin-top:10px;
}

.Home {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position:center;
	height:460px;
    width:320px; 
}

.Deals_Header
{
    background-image: url(../images/Background_Body.png);
	background-repeat: no-repeat;
    background-color: #1A5496;
    background-position:center;
    width:320px;
}
.Deals_Search
{
    background-image: url(../images/Background_Body.png);
	background-repeat: no-repeat;
    background-color: #1A5496;
    background-position:center;
}
.Deals_Body
{
    background-image: url(../images/Background_Body.png);
	background-repeat: no-repeat;
	background-color: #1A5496;
	background-position:center;
	width: 320px;
	height: 380px;
}
.Listings_Header
{
    background-image: url(../images/Background_Header.png);
	background-repeat: no-repeat;
	background-color: #643d87;
	background-position:center;
	width: 320px;
}
.Listings_Search
{
    background-image: url(../images/Background_Search.png);
	background-repeat: no-repeat;
	background-color: #643d87;
	background-position:center;
}
.Listings_Body
{
    background-image: url(../images/Background_Body.png);
	background-repeat: no-repeat;
	background-color: #643d87;
	background-position:center;
	width: 320px;
	height: 380px;
}



.Toolbar_Button
{
    background-image: url("../images/Toolbar_Button.png") !important;
    background-position:center;
    background-repeat:repeat-x;
    height:30px !important;
    width:auto;
    color:#ffffff !important;
    font-family:Times New Roman;
    font-size:large;
    background-color:Transparent!important;
    border:0px none!important;
}
.Toolbar_Logo
{
    background-image: url("../images/Toolbar_Logo.png") !important;
    background-position:center;
    background-position:center;
    height:40px !important;
    width:115px !important;
}



.List_Deal
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAGnElEQVRIS6VXC0zUdRz/3P8ecMeBPDTkIaAgKKCFISo+VrrSNm3mY2pJrHyk5WbpaisblqWmqZilzq02c/awaVZzZmbmyFBUQlBEETl88BAEvDvujjvu0ff7O+7GCR5Y3+222/3/v9/n+/h8P9/vyVxk6IPpiy/CUHoJ+rP/wFJdA6fDLk5JAQHQJMQhNDsL/cZkQpuS1IfbAJlfYPLpzlf7ocvfBWv9XcDphEylgkyhoJOd99M7LrsDTpuNfpeTE/EYvPoNRC2Y7deBhwI3nyzA1bfzYL5eDXlQEGRKApMkgSeSxB9yxNlhh4ujdzgFkIt+c5gtiHt9EVI/2/hQ8B6Bq7d8jqq1n0ARrKUIAzoBKTIuiovALO0E5oBco0bIEyOgHpIADX1sLa1ov3UbLadOI3LmdAzfvqHvwFUffYqqDzcjICoSMrmcUkoxUhSM6WgzwUnRDJj+LOKWvYqIKZP6VM+eXvKJWLdtF669k4fA6Ci4OK2doJxOW1MTYhctxLBP11Emgv8zoOegF7j1zHlcmDYHihC6lCJlUE6n02KBpFYj4+BehGY9+b8BuwGfzZ4K0w0d5ATC6WVQh8mM4BGpGHV4H5RhYd1A7XoD1fU+7EajYLQytJ/IVl9MRFz37UGUL1sNBR2UySUvaOjoDGQeO+hzj764FA2HfoHx4mVYam7CcvO2YDIzj8kYNmk80vdsg6p/RO/tVJg5Ge136iAFBgrWcjuoh8Qju+iE93D1pu2o3XcA5hs1gs2ivQTLO1uLssS/MeNVEeGYUF4oxMVjnMHimQsRPX8Wol+aC5lJd8tVmDUZcnqJWezq6CBsFybXV4iLrxLZavJ3Q64NcgOyeFCEtqZmBD+eDm1aCjlMAHRGf64YtsZmdLS2Im33VsTkLvACG0rKUDRpOvElEFMaK6HQF52Hy9oBmUYjUmZrbkF28Sm0FBSi7OXlsBsMorXYYw+oTKnEVGtDt1RWvPke6r75QZDRcPGSD7BMpSDHNUJq265cg2QsuwJJSZGyELW3i8Z36I0ofn4BnFabUC27sU3osTdtdlIr+jxo94sukHNK4WTgoFjfx5QRBnGRtApga109tQ+nz0EHnKQ261G+fBXkVG8mmsNkQvyKJRhb+BskFV3KYkIOGcrKfS623m0UhBN1pufh48f4PG+rqITdYhZZs+hqIJmqdKIVOAJNUgICBkZC2T8cfJG1oRFpu7Yi+eM14pKAgQNFLR02KyxEsq52Z88+UWuOVh0Xg6DUFJ/nzX+eFjzytKrEhOEUcM8OWvqKeDnrj58x8VIhptmbEEUs9FjE0xM6p5BS6LHHmMm1+w9Aorv4+2MzponW6mqNPx5xk7DTJHVcrIhWonEXkjHS+0CbPrxbDUMyM9zvBqjQdPyk9znrgLW+ATKSWQfxJHHNap+zt2m0OqlbeLq5Jw19VQ+Op5p0QBEeSqpDqfRjISPToAgjkaGe7bjXgtKcZXDSLK7ZsQdyitBhNiMmZz6pXKjPLdfXbiRFJI2AW5zUNLMljtJFoiHmOg8FP6YeHCc4IEYiAd379QTKl6yEtc4drdNi7TaDr3+wCQ7qCuYRixMTVJs+DFLYxLFCEOxU455a5EE/wsaNpjpT35OTXNPGo8eFKNipBZM35vnUUV9cAt3mHe7BIyNg6hwpUI3g9FRICq1WsDZy1gwExvQu8AlvLRcE4y2Ewbnt7AYjwp/KRsLK17x+tlVW4fwzsyjtrP+sE24CR81/Qbzjf+fqIe0Vq9ag9uvvSVg0Atje1oagoYkY+9dR6mGlOGEovYySObkixUL/yUQ2KbOsB2oSI6LZo1lrwRnvvtVBq44mKRGjftrvBW04fAQXnpvrriuD8oilaDkrUTnzBKhg9aPBAiP27oQ6fhDJqxWxi3Mw7u9jXsJde3cdSl9c6q4/Dx3PBkO9rUkagpQNeV64R051T47e3PkldFu+AGdA0S9EMNyzqzERWZ/HlxQgkBTNY70CtxaeQ1Byos9gtzU2wUhCX//dITQcOCz0W2ykYt92tySPVme7RbQe11WbMtTHZ7/Ale+vR/XGfKgiB3hTxyCsQpxqbn5elbwRCkRe8O1iomnThou1iXv/QfMLbKa/KiWzc2Gi1hAAnqVeRqmUaONgHI6wc9/m6BhQFR5Gup/bTTq7gveaak7Zvd9PonpDPkz0r4LrJXTXYwTKDknUSiyVcSsWI3oe9S9NOH/WK3DXw/wfif+4td+qdYOLaF1CeIKSk6Aa4H/B63rXvwq4PBaiF84cAAAAAElFTkSuQmCC') !important;
    background-repeat: no-repeat;
    height:32px !important;
    width:32px !important;
} 

 
.List_Blank
{    
    background-image: url("../images/List_Blank.png") !important;
    background-position:center;
    background-position:center;
    height:30px !important;
    width:30px !important;
}  
       
.Home_Logo
{
    background-image: url("../images/Home_Logo.png") !important;
    background-position:center;
    background-position:center;
    height:150px !important;
    width:288px !important;
}
.Home_Deals
{
    background-image: url("../images/Home_Deals.png") !important;
    background-position:center;
    background-position:center;
    height:150px !important;
    width:150px !important;
}
.Home_Listings
{
    background-image: url("../images/Home_Listings.png") !important;
    background-position:center;
    background-position:center;
    height:150px !important;
    width:150px !important;
}



.manage-list .x-dataview-inner {
    padding: 0.7em;    
}

.manage-list .manage-list-item {
    padding: 0.35em;
	background-color: gainsboro;
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    height:60px;
    
}

.manage-list .manage-list-item:last-child {
    border-bottom-width: 1px;
    -webkit-border-bottom-left-radius: 0.35em;
    border-bottom-left-radius: 0.35em;
    -webkit-border-bottom-right-radius: 0.35em;
    border-bottom-right-radius: 0.35em;
}
.manage-list .x-mask + .manage-list-item {
    -webkit-border-top-left-radius: 0em;
    border-top-left-radius: 0em;
    -webkit-border-top-right-radius: 0em;
    border-top-right-radius: 0em;
}

.manage-list .manage-list-item .x-img {
    background-color:Transparent;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;
    width: 86px;
    height: 30px;
}

.manage-list .manage-list-item .x-name 
{
	background-color:Transparent;
    border:0px;
    padding: 0.35em;
}

.ManageListItemView {
    border: none;
}
