
@import 'sencha-touch/default/all';

//@include pictos-iconmask('deals');

@include sencha-tabbar-ui('customdeals', #1A5496, 'glossy', yellow);
@include sencha-toolbar-ui('customdeals', #1A5496, 'glossy');


@include sencha-tabbar-ui('customlistings', #643d87, 'glossy', yellow);
@include sencha-toolbar-ui('customlistings', #643d87, 'glossy');


@include sencha-tabbar-ui('customtest', #33CC33, 'glossy', yellow);
@include sencha-toolbar-ui('customtest', #33CC33, 'glossy');


// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
//@include sencha-msgbox;

// Your custom code goes here...